.wrapper{
  display: grid;
  grid-template-areas:
     "header header header"
  "left-sidebar" "content" "right-sidebar";
  grid-template-columns: 268px 565px 268px;
  grid-template-rows: 60px 100%;
}
header{
  grid-area: header;
  border: 1px solid #333333;
}
.left-sidebar1{
  grid-area: left-sidebar;
  border: 1px solid #333333;
}
.right-sidebar1{
  grid-area: right-sidebar;
  border: 1px solid #333333;
}
.content1{
  grid-area:content ;
}
.div{
  color: aqua;
}
.d{
  color: aqua;
}

