/* Фон навигационного меню */
.nav-wrapper {
  background-color: #1c1a1a;
}

/* Стили ссылок в меню */
#nav-mobile li a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 15px;
}

/* Активная ссылка в меню */
#nav-mobile li.active a {
  background-color: #555;
}

/* Цвет и размер логотипа */
.brand-logo {
  color: #fff;
  font-size: 24px;
}

/* Стиль кнопок на мобильных устройствах */
.button-collapse {
  color: #fff;
}
